<nav class="navbar navbar-light bg-info">
    <a class="navbar-brand text-white" id="nav"><i class="fas fa-bread-slice" aria-hidden="true"></i>
    Govinda's
  </a>
</nav>
<div class="centered-content">
    <div class="white-box">
        <h1 class="title has-text-primary">Sign Up</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input #emailInput class="input has-background-light" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input #pwInput class="input has-background-light" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
        </div>
        <div class="field is-pulled-right">
            <p class="control">
                <button class="button is-success has-text-white" (click)='onSignUpButtonClicked(emailInput.value,pwInput.value)'>
                Register
              </button>
            </p>
        </div>
        <p class="has-text-grey">Already got an Account?<a routerLink='/login'>Login</a> Now</p>
    </div>
</div>